body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  p.ex1 {display: none;}
  p.ex2 {display: inline; border-color: chartreuse;}
  p.ex3 {display: block; border-color: chartreuse}
  p.ex4 {display: inline-block; border-color: chartreuse}

  #funnycat {
    max-width: 540px;
  }

  h2 {
    color: hsla(118, 100%, 10%, 0.8);
    margin-left: .4em;
    padding-right: 3px;
  }
  


  .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-between;
  background-color:darkgreen;
}

.flex-container > div {
background-color: #f1f1f1;
margin: 10px;
padding: 20px;
font-size: 30px;
}


.grid-container {
  display: grid;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-between;
  background-color:darkgreen;
}

p.yerba { 
  position: static;
  margin: 0 0 0 .3em;
  background: hsl(55, 100%, 44%);
}
#fancyborder {
  border:0.2in dotted rgb(213,255,189);
  padding-top:3px;
  padding-bottom:3px;
  padding-left:3px;
  padding-right:3px;
}

a[target] {
  background-color:pink;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

div p {
  position: relative;
  right: 35px;
  margin-top: 4px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul > li { 
  margin-left: 3px;
  font-size:small;
  margin-right:3px;
}

div + h2 {
  margin-bottom: 6px;
  background-color:rgba(227,136,32,0.8);
}

pre ~ p {
  padding: 0 0 0 5px;
  background-color: lightgoldenrodyellow;
}